.btn {
  display: block;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
  appearance: none !important;
  -webkit-appearance: none !important;
  text-decoration: none !important;
  text-align: center;
  padding: 15px 32px;
  font-family: $font-display;
  letter-spacing: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  background-color: $color-primary;
  color: white;


  &:hover {
    transform: scale(1.03);
  }

  &._second {
    background-color: $color-second;
    border-color: $color-second;
    color: white;

    &:hover {
      background-color: transparent;
      color: white;
      border-color: white;
    }
  }

  &._bordered-white {
    border-color: white;
    color: white;
    background-color: transparent;

    &:hover{
      background-color: white;
      color: black;
    }
  }
}
