.logos-main {
  display: flex;
  align-items: center;
  a {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $color-primary;
    text-shadow: 2px 2px 2px #c7c7c7;
    letter-spacing: -1px;

    img {
      width: 70px;
      height: 63px;
      margin-right: 8px;
      padding-right: 10px;
    }
  }
}
