* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $font-text;
  margin: 0;
  padding: 0;
  color: $color-dark;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    transform: translate3d(-80vw, 0, 0);
    transition: transform 0.33s;
    pointer-events: none;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 31, 38, 0.5);
    z-index: 9999;
    transform: translate3d(-100vw, 0, 0);
    pointer-events: none;
  }
  &.overflow-hidden {
    overflow: hidden;
    &:after {
      transform: translate3d(0, 0, 0);
      transition: transform 0.37s;
    }
    &:before {
      transform: translate3d(0, 0, 0);
    }
  }
}

button,
input,
textarea,
select {
  font-family: $font-text;
}

img {
  max-width: 100%;
}

.botaosection1a {
  background: linear-gradient(
    103.91deg,
    #9b51e0 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  );
  border: 1px solid #9b51e0;
  border-radius: 16px;
}
.botaosection1b {
  border: 1px solid #d7d7d7;
  border-radius: 16px;
}
.laurasection1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imglaura {
  display: flex;
  align-items: center;
  justify-content: center;
}